<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mr.Potatohead.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5000D2F1CBD42CC0027475D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5000D431CBD42CC0027475D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5000D4E1CBD42CC0027475D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
